h1, h2, h3 {font-family: Arial, Helvetica, sans-serif;}
p, li {font-family:'Arial Narrow Bold', sans-serif;}
header {font-family: Arial, Helvetica, sans-serif;}
html {background-color: darkgreen;
color: tan;}
footer {background-color:saddlebrown;}
.apresentação, .escola, .desenho, .ingles, .automacao, .Experiências-Profissionais {text-align: center;}
img {
width: 25%;
height: auto;}
.cabecalio {text-align: center;}
h1 {text-align: center;}