
*/
 html {background:#FAB919;
    color:#FA6800;
    font-size: 18px;
    font-family: sans-serif;
     }
     p{text-indent: 1em;}
     h1, h2, h3 {text-align: center;}
     h1 {font-size: 1.6rem;}
     h2 {font-size: 1.4rem;}
     h3 {font-size: 1.2rem;}

     .summary {text-align: right;
   

   }
.mais p {line-height: 1.5;}

